body {
    background-image: url('../images/bg.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    width: 100%;
    padding: 0;
    overflow-x: hidden;
}

h1 { 
    color: #000000; 
    margin-top: 0; 
    text-align: center;
    width: 100%;
}
h2 { 
    color: #000000; 
    margin-top: 0;
    text-align: center;
}
p { 
    color: #000000; 
    font-size: 0.95rem; 
    margin-bottom: 2rem;
    text-align: center;
    line-height: 1.4;
}

