.card {
    display: block;        /* On s'assure que c'est un bloc */
    margin-left: auto !important;
    margin-right: auto !important;
    border-radius: 1.5rem;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.5);
    padding: 2rem;
    width: 90%;
    max-width: 420px;
    text-align: center;
    color: transparent;
    background: transparent;
    backdrop-filter: blur(2px);
    margin-bottom: 0px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px; /* C'est ça qui crée l'espace entre les 3 cartes */
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    margin: 0 auto;
}

.glass-card {
    display: block;        /* On s'assure que c'est un bloc */
    margin-left: auto !important;
    margin-right: auto !important;
    background: transparent; /* totalement transparent */
    color: transparent;
    padding: 40px;
    border-radius: 20px;
    width: 90%;
    max-width: 420px;
    text-align: center;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
}
