.card {
    border-radius: 1.5rem;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.5);
    padding: 2rem;
    width: 90%;
    max-width: 420px;
    text-align: center;
    color: white;
    background: transparent;
    backdrop-filter: blur(10px);
    margin-bottom: 20px;
}
